    <script>
      $("#domain-table").bootstrapTable();
      $("#instance-table").bootstrapTable();
      feather.replace();

      function shutdown(instance_addr) {
        console.log("shutdown " + instance_addr);
        $.ajax({
          type: "POST",
          url: "http://" + controller_addr + "/shutdown_worker",
          data: "\"" + instance_addr + "\"",
          dataType: "text",
          success: function(data) {
            $("#error-msg").html("success...do something").addClass("show");
          },
          error: function(e) {
            $("#error-msg").html("AJAX request to controller API failed: " + e.statusText).addClass("show");
          }
        });
      }

      function format_provenance(provenance) {
        return Object.keys(provenance).map(function(domain) {
          return [
            "D" + domain,
            provenance[domain].label,
            format_provenance(provenance[domain].edges)
          ];
        });
      }

      function update_domains() {
        $.ajax({
          url: "http://" + controller_addr + "/get_statistics",
          dataType: "json",
          success: function(data) {
            $("#domain-error-msg").removeClass("show");
            const domains = data.domains;
            const table_data = Object.keys(domains).map(function(i) {
              let nodes = domains[i][1];
              return [
                i,
                Object.keys(nodes).map(function(i) {
                  return i + " (" + nodes[i].desc + ")";
                }),
                domains[i][0].min_label,
                domains[i][0].log_size,
                JSON.stringify(format_provenance(domains[i][0].provenance.edges))
              ];
            });
            $("#domain-table").bootstrapTable('load', table_data);
          },
          error: function(e) {
            $("#domain-error-msg").html("AJAX request to controller API failed: " + e.statusText).addClass("show");
          }
        });
      }

      function update_instances() {
        $.ajax({
          url: "http://" + controller_addr + "/instances",
          dataType: "json",
          success: function(data) {
            $("#instance-error-msg").removeClass("show");
            $("#instance-table").bootstrapTable('load', data);

            // Setup button to shutdown the instance in the row
            const rows = $("#instance-table")[0].children[1].children;
            for (let i = 0; i < rows.length; i++) {
              const row = rows[i].children;
              const addr = row[0].firstChild.innerText;
              const button = row[4].firstChild;
              button.onclick = function() { shutdown(addr); };
            }

            feather.replace()
          },
          error: function(e) {
            $("#instance-error-msg").html("AJAX request to controller API failed: " + e.statusText).addClass("show");
          }
        });
      }

      function build_table() {
        $.ajax({
          type: "POST",
          url: "http://" + controller_addr + "/table_builder",
          data: "\"Vote\"",
          dataType: "text",
          success: function(data) {
            console.log("build_table");
            console.log(data);
          },
          error: function(e) {
            console.log("failed to build table: " + e.statusText);
          }
        });
      }

      function build_view() {
        $.ajax({
          type: "POST",
          url: "http://" + controller_addr + "/view_builder",
          data: "\"ArticleWithVoteCount\"",
          dataType: "text",
          success: function(data) {
            console.log("build_view");
            console.log(data);
          },
          error: function(e) {
            console.log("failed to build view: " + e.statusText);
          }
        });
      }

      update_domains();
      update_instances();
      setInterval(update_instances, 1000);
    </script>
